<div class="col-10 offset-1 about">

  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/NinjaMio">Cici Zhang</a>. A student of University of Toronto Coding Boot Camp.
  </p>
  <br />
  <p>
    She's a Data Analyst at Scholastic Canada, and she hopes after the course she will be able to create web-based report dashboards, and develop internal deployment tools to help her company and team. This is her first project!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'Me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Cici Zhang</h2>
    <br />
    <p>
      Congcong Zhang is a Data Analyst at <a target="_blank" href="http://www.scholastic.ca/">Scholastic Canada</a>. She has a degree of double major in Statistics and Combinatorics & Optimization from <a target="_blank" href="https://uwaterloo.ca/">University of Waterloo</a>. Previously she worked as a Metadata Specialist at <a target="_blank" href="https://www.dricapital.com/">DRI Capital</a>, where she had gained valuable knowledge in data administration and business analysis.
    </p>
  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />

